/.settings/
/.project
/pragmatach-framework/target/
/pragmatach-framework/.project
/pragmatach-framework/.classpath
/pragmatach-framework/.settings/
/pragmatach-console/target/
/pragmatach-console/.project
/pragmatach-console/.DS_Store
/pragmatach-console/.classpath
/pragmatach-console/.settings/
/exampleproject/
/.DS_Store
/pragmatach-freemarker/target/
/pragmatach-freemarker/.settings/
/pragmatach-freemarker/.project
/pragmatach-freemarker/.classpath
/pragmatach-framework/src/main/.DS_Store
/pragmatach-framework/src/.DS_Store
/pragmatach-framework/.DS_Store
/pragmatach-adminapp/target/
/pragmatach-adminapp/.project
/pragmatach-adminapp/.classpath
/pragmatach-adminapp/.settings/
/pragmatach-framework/src/main/resources/.DS_Store
/pragmatach-framework/test-output/
/pragmatach-framework/src/main/resources/system/.DS_Store
/pragmatach-adminapp/src/main/.DS_Store
/pragmatach-adminapp/src/.DS_Store
/pragmatach-adminapp/.DS_Store
/pragmatach-adminapp/src/main/resources/.DS_Store
/examples/rssviewer/.project
/examples/rssviewer/.classpath
/examples/.project
/examples/rssviewer/rssviewer.log
/examples/rssviewer/target/
/examples/rssviewer/.settings/
/examples/.settings/
/pragmatach-velocity/target/maven-status/
/pragmatach-velocity/target/maven-archiver/
/pragmatach-velocity/target/classes/
/pragmatach-velocity/target/test-classes/test/com/khubla/pragmatach/plugin/velocity/ExampleController1.class
/pragmatach-velocity/target/pragmatach-velocity-1.0-SNAPSHOT.jar