/.settings/
/.project
/pragmatach-framework/target/
/pragmatach-framework/.project
/pragmatach-framework/.classpath
/pragmatach-framework/.settings/
/pragmatach-console/target/
/pragmatach-console/.project
/pragmatach-console/.DS_Store
/pragmatach-console/.classpath
/pragmatach-console/.settings/
/exampleproject/
/.DS_Store
/pragmatach-freemarker/target/
/pragmatach-freemarker/.settings/
/pragmatach-freemarker/.project
/pragmatach-freemarker/.classpath
/pragmatach-framework/src/main/.DS_Store
/pragmatach-framework/src/.DS_Store
/pragmatach-framework/.DS_Store
/pragmatach-adminapp/target/
/pragmatach-adminapp/.project
/pragmatach-adminapp/.classpath
/pragmatach-adminapp/.settings/
/pragmatach-framework/src/main/resources/.DS_Store