<!DOCTYPE html>
<head>
		<title>exampleproject</title>
</head>
<body>
<h1>exampleproject</h1>
<img src="/public/logo.png">
${controller.message}

<h2>Current Time</h2>
${controller.time}

<a href="/pragmatach/admin">Admin</a>
</body>



